<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Mi perfil
        </h4>

        <h6 class="card-subtitle">Ajustes</h6>
        <form
          class="form p-t-20"
          (ngSubmit)="actualizarPerfil()"
          [formGroup]="perfilForm"
        >
          <div class="form-group">
            <label for="exampleInputuname">User Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                type="text"
                class="form-control"
                id="exampleInputuname"
                formControlName="nombre"
                placeholder="Nombre del usuario."
              />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                formControlName="email"
                placeholder="Ingrese su email."
                [readOnly]="usuario.google"
              />
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-success btn-block waves-effect waves-light m-r-10"
            [disabled]="this.perfilForm.invalid"
          >
            <i class="fa fa-save"></i>
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Avatar</h4>
        <h6 class="card-subtitle">Imagen de Perfil</h6>

        <div class="text-center">
          <img
            *ngIf="!this.imgTemp"
            [src]="usuario.imageUrl"
            alt=""
            class="img-avatar"
          />
          <img
            *ngIf="this.imgTemp"
            [src]="this.imgTemp"
            alt=""
            class="img-avatar"
          />
        </div>

        <input type="file" (change)="cambiarImage($event)" />
        <br />
        <br />
        <button
          type="button"
          class="btn btn-success waves-effect waves-light m-r-10"
          [disabled]="!this.imageSubir"
          (click)="subirImagen()"
        >
          Cambiar Imagen
        </button>
      </div>
    </div>
  </div>
</div>
